.jsoneditor-history,.jsoneditor-history-save {
  line-height: 31px;
  margin-left: 10px;
  height: 100%;
  float: left;
  cursor: pointer;
}
#jsoneditor-history-list{
  padding-right: 40px;
}
#jsoneditor-history-list>li{
  position: relative;
  padding: 10px 0 ;
}
#jsoneditor-history-list>li::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #DCDCDC;
}
#jsoneditor-history-list>li:hover{
  background-color: beige;
  cursor: pointer;
}